@import '../../colors';

.filter {
  &-options {
    display: flex;

    width: 700px;
    margin: 4rem auto 2rem auto;
    justify-content: center;
    font-size: 0.8rem;
    li {
      width: 120px;
      border-bottom: solid 3px #fff;
      text-align: center;
      cursor: pointer;
    }
  }
  &-active {
    border-bottom: solid 3px $accent-pink !important;
  }
}

@media screen and (max-width: 450px) {
  .filter {
    overflow: scroll;

    &-options {
      width: 500px;
      margin-bottom: 0.4rem;
      margin-top: 1rem;
    }
  }
}
