@import '../colors';
.recipes {
  min-height: 84.5vh;
  .search-filter {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    min-height: 3rem;
    margin: auto;
    justify-content: center;
    &-item {
      background-color: #fff;
      padding: 0.5rem 0.8rem;
      font-size: 0.9rem;
      border-radius: 30px;
      margin: 0.3rem;
      cursor: pointer;
    }
    .active {
      outline: 3px solid $accent-green;
    }
  }
  &-container {
    margin-top: 2rem;
  }
  .recipe {
    background-color: #fff;
    height: 16rem;
    width: 10rem;
    border-radius: 10px;
    margin: auto;
    padding: 0.5rem;
    .img-container {
      width: 90%;
      height: 45%;
      margin: 0.5rem auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }
}
