@import '../colors';
.full-recipe {
  min-height: 74vh;
  padding: 2rem;
  &-options {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    & > * {
      cursor: pointer;
      display: flex;
      align-items: center;
      color: $accent-green;
      svg {
        font-size: 1.5rem;
      }
      p {
        margin: 0;
        padding: 0.3rem;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .full-recipe {
    padding: 0;
  }
}
