@import '../colors';
.recipes {
  min-height: 84.5vh;
  .search-filter {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    min-height: 3rem;
    margin: auto;
    justify-content: center;
    &-item {
      background-color: #fff;
      padding: 0.5rem 0.8rem;
      font-size: 0.9rem;
      height: 1rem;
      border-radius: 30px;
      margin: 0.3rem;
      cursor: pointer;
    }
    .active {
      outline: 3px solid $accent-green;
    }
  }
  &-options {
    background-color: $background-darker;
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    margin: 4rem auto 2rem auto;
    border-radius: 10px;
    height: 4rem;
    .option {
      cursor: pointer;

      padding: 0.5rem 1rem;
      border-radius: 10px 10px 0 0;
      height: 2rem;
    }
    .active {
      background-color: $background-color;
    }
  }
  &-container {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    p {
      margin: 3rem auto;
    }
    .error-message {
      margin: auto;
      p {
        margin: 1rem auto;
      }
    }
  }
}
