@import '../colors';
.recipes {
  min-height: 84.5vh;
  .search-filter {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    min-height: 3rem;
    margin: auto;
    justify-content: center;
    &-item {
      background-color: #fff;
      padding: 0.5rem 0.8rem;
      font-size: 0.9rem;
      border-radius: 30px;
      margin: 0.3rem;
      cursor: pointer;
    }
    .active {
      outline: 3px solid $accent-green;
    }
  }
  &-container {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem auto;
  }
}
