@import '../colors';
.shoppinglist {
  min-height: 77.4vh;
  .message {
    width: 200px;
    margin: 6rem auto;
    text-align: center;
  }
  .food-list {
    ul {
      margin-top: 2rem auto;
    }
  }
  .green-line {
    height: 2px;
    width: 90%;
    background-color: $accent-green;
    display: block;
    margin: 3rem auto;
  }
}
