@import '../../colors';
nav {
  background-color: $background-darker;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-logo {
    height: 50px;
  }
}

@media screen and (max-width: 500px) {
  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    .container {
      width: 100%;
      & > a {
        display: none;
      }
    }
  }
}
