footer {
  text-align: center;
  font-size: 0.8rem;
  height: 4rem;
  width: 100%;
  p {
    padding: 1.3rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 500px) {
  footer {
    display: none;
  }
}
