@import '../../colors';

.food-list {
  max-width: 400px;
  margin: 2rem auto;

  .welcome-message {
    width: 200px;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  .food-list {
    width: 100%;
    //margin: 2rem 0 0 0;
  }
}
