@import '../../colors';

#search {
  height: 4rem;
}
.search {
  position: relative;
  width: 300px;
  //height: 100px;
  margin: auto;

  input {
    position: absolute;
    width: 93%;
    padding: 0.8rem 1.5rem;
    margin-top: 1rem;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-resultoptions {
    position: absolute;

    z-index: 1;
    width: 100%;
    padding: 0 0.8rem;
    background-color: rgb(197, 219, 255);
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 0.3s slide-down forwards;
    li {
      padding: 0.8rem 0.8rem 0.8rem 1rem;

      font-size: 0.9rem;
      border-bottom: dotted 2px rgb(121, 120, 120);
      /* &:first-child {
        border-radius: 20px 20px 0 0;
      }*/
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &-resultoption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $accent-green;
    p {
      margin: 0;
    }
    .icon {
      cursor: pointer;
    }
  }
}

@keyframes slide-down {
  from {
    top: 12px;
  }
  to {
    top: 62px;
  }
}

@media screen and (max-width: 700px) {
  .search {
    input {
      top: 1.5rem;
    }
  }
}
@media screen and (max-width: 500px) {
  .search {
    width: 100%;
    height: 5rem;
    &-resultoptions {
      width: 66%;
      margin: 0.8rem auto 0 auto;
    }
    input {
      width: 60%;
      margin: 1rem auto 0 auto;
      top: 1rem;
    }
  }
}
