.recipes-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  .inactive {
    color: rgb(139, 139, 139);
  }
  .arrow {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .current-page {
    font-weight: 800;
    text-decoration: underline;
  }
  .first,
  .second,
  .third {
    margin: 0 0.2rem;
  }
}
