@import '../../colors';

.full-recipe-container {
  background-color: #fff;
  min-height: 75vh;
  border-radius: 25px;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .img-container {
    width: 40%;
    height: 300px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  .description {
    width: 57%;
    padding-left: 1rem;
    font-size: 0.9rem;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .recipe-summary {
    background-color: #fff;
    height: 20%;
    width: 70%;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    & > * {
      width: 40%;
      height: 1.5rem;
    }
  }
  .ingredients {
    padding: 1rem;
    background-color: $background-lighter;
    margin-top: 1rem;
    border-radius: 10px;
    width: 100%;
    font-size: 0.9rem;
    ul {
      .group-heading {
        font-weight: 600;
        margin: 1.5rem 0 0.5rem 0;
      }
      li {
        padding: 0.2rem;
        display: flex;
        align-items: center;
        svg {
          padding-right: 0.5rem;
        }
        .check {
          color: $accent-green;
        }
        .plus {
          height: 0.7rem;
          width: 0.7rem;
          cursor: pointer;
        }
      }
      .faded {
        color: #31572c96;
      }
    }
  }
}
