@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import './colors';

body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.App {
  color: $accent-pink;
}

header,
footer {
  background-color: $background-darker;
}

input[type='text'],
input[type='password'],
button {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  padding: 0.6rem 1rem;
  outline: none;
  font-family: 'Inter', sans-serif;
}
input[type='text']:focus,
input[type='password']:focus {
  outline: solid 3px $accent-green;
}

button {
  cursor: pointer;
  border: 1px solid $accent-green;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $accent-green;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.warning {
  background-color: $accent-pink;
}

.light-warning {
  background-color: $lighter-pink;
}
.lightest-warning {
  background-color: $lightest-pink;
}
