@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import './colors';

body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.App {
  color: $accent-pink;
}

header,
footer {
  background-color: $background-darker;
}

input[type='text'],
input[type='password'],
button {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  padding: 0.6rem 1rem;
  outline: none;
  font-family: 'Inter', sans-serif;
}
input[type='text']:focus,
input[type='password']:focus {
  outline: solid 3px $accent-green;
}

button {
  cursor: pointer;
  border: 1px solid $accent-green;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $accent-green;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.main-content {
  min-height: 77vh;
}

.warning {
  background-color: $accent-pink;
}

.light-warning {
  background-color: $lighter-pink;
}
.lightest-warning {
  background-color: $lightest-pink;
}

.product {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.8rem;
  border-radius: 50px;
  width: 45%;
  margin: 1rem 0;
  height: 2.2rem;
  &-heading {
    margin: 0;
    width: 50%;

    color: $accent-green;
  }
  .expiration {
    padding: 0.6rem 0.8rem;
    color: #fff;
    font-size: 0.7rem;
    max-height: 100%;
  }
  .icon {
    cursor: pointer;
  }
}
