@import '../../colors';

.main-nav {
  background-color: $background-darker;
  ul {
    display: flex;
    flex-direction: row;
    li {
      padding: 1.1rem 1.2rem;
      color: $accent-green;
      cursor: pointer;
      svg {
        display: none;
      }
    }
  }
  .active-link {
    background-color: $background-color;
  }
}

@media screen and (max-width: 450px) {
  .main-nav {
    width: 100%;
    ul {
      width: 100%;
      justify-content: space-between;

      li {
        font-size: 0.7rem;

        svg {
          display: block;
          margin: auto;
          font-size: 1.6rem;
        }
        .cutlery-icon {
          stroke-width: 1;
        }
        .cart-icon {
          stroke-width: 0.3;
        }
      }
    }
  }
}
